:root {
    --bgcolor: #AB0007;
    --gradient: #3A0909, #000000;
    --txtcolor: #FFFFFF;
    --btntxtcolor: #3A0909;

    /* Font */
    --kufamfont: 'Kufam', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Kufam:ital,wght@0,400..900;1,400..900&display=swap');

body {
    background-color: var(--bgcolor);
}

.cta-main-container {
    background-image: linear-gradient(to right, #3A0909, #000000);
    padding: 50px;
    border-radius: 30px;
    border: none;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.397);
    font-family: var(--kufamfont);
    color: var(--txtcolor);
}

/* Navbar settings */
.nav-item>a {
    text-decoration: none;
    color: var(--txtcolor);
    font-family: var(--kufamfont);
    font-size: 20px;
    font-weight: 200;
}

.nav-item>a:hover {
    text-decoration: underline;
}

/* nav-buttons */
.navbtn {
    border: none;
    border-radius: 10px;
    padding: 5px 10px 5px;
}

.navbtn:hover {
    cursor: pointer;
    box-shadow: 5px 3px 15px rgba(0, 0, 0, 0.219);
}

/* CTA-Block Settings */
h1 {
    font-size: 36px;
    font-weight: medium;
}

.cta-block p {
    width: 90%;
    max-width: 582px;
    font-size: 16px;
    font-weight: lighter;
    color: #CECDCDCD;
    line-height: 160%;
}

/* cta-buttons */
.cta-buttons {
    border-radius: 5px;
    padding: 10px 10px;
    font-size: 24px;
    font-weight: medium;
    color: var(--btntxtcolor);
    border: none;
}

.cta-buttons:hover {
    cursor: pointer;
    transform: translateX(1px);
    transition: 0.1s ease-in;
}

.sideimg {
    width: 600px;
    height: 600px;
}

.socialmediacontainer p {
    font-size: 20px;
    color: var(--txtcolor);
    padding-left: 2px;
}

/* Products settings */
.offer-section p {
    font-size: 20px;
    color: var(--txtcolor);
}

/* footer */
footer {
    
    color: rgba(0, 0, 0, 0.342);
    text-align: center;
    background-color: #3A0909;
}

footer p {
    font-size: 14px;
    padding: 10px;
    margin: 0 auto;
}

footer span {
    font-size: 18px;
    font-style: italic;
    color: var(--txtcolor);
}

footer span {
    cursor: pointer;
    text-decoration: underline;
}